@page "ui"
@model BaSyx.Registry.Server.Http.Pages.IndexModel
@using BaSyx.API.Components;
@using BaSyx.Models.Connectivity;
@using BaSyx.Models.Connectivity.Descriptors;
@using BaSyx.Models.Core.Common;

@{
    ViewData["Title"] = "Index";
    IAssetAdministrationShellRegistry registry = Model.Registry;
    IElementContainer<IAssetAdministrationShellDescriptor> shells = registry.RetrieveAllAssetAdministrationShellRegistrations().Entity;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/scripts/bootstrap.min.css">
    <title>BaSys Registry UI</title>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/images/basyxlogo.png" width="160" height="64" />
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" style="margin-top:15px">Main</a></li>
            </ul>
            <div class="navbar-right"><img src="~/images/Bosch.gif" width="103" height="30" style="margin-top:25px; margin-right:15px" /></div>
        </div>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Asset Administration Shell Registry UI</h1>
            <p class="lead">Generic UI to discover the Asset Administration Shell Registry</p>
        </div>
    </main>


    @if (shells?.Count() > 0)
    {
        foreach (var aas in shells)
        {
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#7ca1ce">
                        <h4>
                            <a style="color:white" data-toggle="collapse" href="#@aas.IdShort">@aas.IdShort</a>
                        </h4>
                    </div>
                    <div id="@aas.IdShort" class="panel-collapse collapse">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2"><b>AAS-Id</b></div>
                                    <div class="col-sm-10">@aas.Identification?.Id</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2"><b>Asset-IdShort</b></div>
                                    <div class="col-sm-10">@aas.Asset?.IdShort</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2"><b>Asset-Id</b></div>
                                    <div class="col-sm-10">@aas.Asset?.Identification?.Id</div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2"><b>Asset-Kind</b></div>
                                    <div class="col-sm-10">@aas.Asset?.Kind.ToString()</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background:#4aaf6d"><h4 style="color:white">Endpoints</h4></div>
                                <div class="list-group">
                                    @foreach (var endpoint in aas.Endpoints)
                                    {
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-2"><b>Endpoint (@endpoint.Type)</b></div>
                                                <div class="col-sm-10"><a target="_blank" href="@endpoint.Address">@endpoint.Address</a></div>
                                            </div>
                                        </div>
                                        @if (endpoint.Type == EndpointType.HTTP && !string.IsNullOrEmpty(endpoint.Address) && endpoint.Address.EndsWith("/aas"))
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-sm-2"><b>Endpoint (http-UI)</b></div>
                                                    <div class="col-sm-10"><a target="_blank" href="@endpoint.Address.Replace("/aas", "/ui")">@endpoint.Address.Replace("/aas", "/ui")</a></div>
                                                </div>
                                            </div>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@endpoint.Address.Replace("/aas", "/ui")"></iframe>
                                            </div>

                                        }

                                    }
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background:#ff6a00">
                                    <h4>
                                        <a style="color:white" data-toggle="collapse" href="#Submodels_@aas.IdShort">Submodel-Descriptors</a>
                                    </h4>
                                </div>
                                <div id="Submodels_@aas.IdShort" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-group">
                                            @foreach (var submodelDescriptor in aas.SubmodelDescriptors)
                                            {
                                                <div class="panel panel-warning">
                                                    <div class="panel-heading" style="background:#808080">
                                                        <h4 class="panel-title">
                                                            <a style="color:white" data-toggle="collapse" href="#@submodelDescriptor.IdShort">@submodelDescriptor.IdShort</a>
                                                        </h4>
                                                    </div>
                                                    <div id="@submodelDescriptor.IdShort" class="panel-collapse collapse">
                                                        <div class="list-group-item">
                                                            <div class="row">
                                                                <div class="col-sm-2"><b>Submodel-IdShort</b></div>
                                                                <div class="col-sm-10">@submodelDescriptor.IdShort</div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <div class="row">
                                                                <div class="col-sm-2"><b>Submodel-Id</b></div>
                                                                <div class="col-sm-10">@submodelDescriptor.Identification?.Id</div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <div class="row">
                                                                <div class="col-sm-2"><b>Submodel-Version</b></div>
                                                                <div class="col-sm-10">@submodelDescriptor.Administration?.Version</div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background:#4aaf6d"><h4 class="panel-title" style="color:white">Endpoints</h4></div>
                                                                <div class="list-group">
                                                                    @foreach (var endpoint in submodelDescriptor.Endpoints)
                                                                    {
                                                                        <div class="list-group-item">
                                                                            <div class="row">
                                                                                <div class="col-sm-2"><b>Endpoint (@endpoint.Type)</b></div>
                                                                                <div class="col-sm-10"><a target="_blank" href="@endpoint.Address">@endpoint.Address</a></div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    }

</body>
</html>
